<% if (prolist.length > 0) { %>
  <% for (var i = 0; i < prolist.length; i++) {%>
    <tr proid="<%= prolist[i]._id %>">
      <td><%= i+1 %></td>
      <td><img src="<%= 'upload/' + prolist[i].image %>" alt="" width="50" height="50"></td>
      <td><%= prolist[i].name %></td>
      <td><%= prolist[i].price %></td>
      <td><%= prolist[i].yt_price %></td>
      <td>
        <button type="button" data-tag="update" id='update' class="btn btn-info">修改</button>
        <button type="button" data-tag="delete" id='delete' class="btn btn-danger">删除</button>
      </td>
      
    </tr>
   
				
<%
  }
} else {
%>
<tr>
  <td colspan="8"> 暂无数据 </td>
</tr>
<% } %>
