<% if (data.result.length > 0) { %>
	<% for (var i = 0; i < data.result.length; i++) {%>
	<tr classifyRecommendId="<%= data.result[i]._id %>">
	  <td><%= i+1 %></td>
	  <td><%= data.result[i].categoryId2 %></td>
	  <td><img src="<%= 'images/classifyRecommend/' + data.result[i].img2 %>" width="50" height="50"></td>
	  <td><%= data.result[i].name2 %></td>
	  <td><%= data.result[i].filterId2 %></td>
	  <td>
	  	<button class="btn btn-primary update">修改</button>
	  	<button class="btn btn-danger delete">删除</button>
	  </td>
	</tr>
<%
  }
} else {
%>
<tr>
  <td colspan="6"> 暂无数据 </td>
</tr>
<% } %>